body {
  font-size: 1.8em;
}

.leihotik-brand {
  font-size: 2.5em;
}

.texto-marca {
  color: rgb(255, 165, 0) !important;
}

.lista li {
  width: 100%;
  text-align: left;
}

// TODO
// Definir color en un sitio