$color = rgb(0, 128, 70) !important

body
  font-size: 16px

.leihotik-brand
  font-size: 2.5em

.texto-marca
  color: $color

.lista li
  width: 100%
  text-align: left

.carousel
  height: 30%

h2.texto-marca
  margin-bottom: 1.43em

// TODO
// Definir color en un sitio