$color = rgb(0, 128, 70) !important

body
  font-size: 16px

.leihotik-brand
  font-size: 2.5em

.texto-marca
  color: $color

.lista li
  width: 100%
  text-align: left

.carousel
  height: 30%

.leihotik-logo
  width: 1.5em
  margin-top: 0.625em

h2.texto-marca
  margin-bottom: 1.43em

@media (max-width: 768px)

  .carousel-caption h1
    font-size: 1.57em

  .carousel-inner .item
    margin-top: 2.5em

  .navbar-brand
    padding-left: 0px

  .leihotik-logo
    width: 1.5em
    margin-top: 0.625em
    margin-left: 0.625em
